
<ng-container *ngIf="sortType == 'name'">
	<div style="margin-top:25px;">
		<a class="linkFilters" [routerLink]="['./']" [queryParams]="{by:'name'}" [fragment]="'all'">All Letters</a>
		<a class="linkFilters" [routerLink]="['./']" [queryParams]="{by:'name'}" [fragment]="''+letter" *ngFor="let letter of firstLetters">{{ letter }}</a>
	</div>
</ng-container>

<ng-container *ngIf="sortType == 'platform'">
	<div style="margin-top:25px;">
		<a class="linkFilters" [routerLink]="['./']" [queryParams]="{by:'platform'}" [fragment]="'all'">All Platforms</a>
		<a class="linkFilters" [routerLink]="['./']" [queryParams]="{by:'platform'}" [fragment]="''+platform" *ngFor="let platform of listOfPlatforms">{{ platform }}</a>
	</div>
</ng-container>

<ng-container *ngIf="sortType == 'genre'">
	<div style="margin-top:25px;">
		<a class="linkFilters" [routerLink]="['./']" [queryParams]="{by:'genre'}" [fragment]="'all'">All Genres</a>
		<a class="linkFilters" [routerLink]="['./']" [queryParams]="{by:'genre'}" [fragment]="''+genre" *ngFor="let genre of listOfGenres">{{ genre }}</a>
	</div>
</ng-container>

<ng-container *ngIf="sortType == 'release'">
	<div style="margin-top:25px;">
		<a class="linkFilters" [routerLink]="['./']" [queryParams]="{by:'release'}" [fragment]="'all'">All Release Dates</a>
		<a class="linkFilters" [routerLink]="['./']" [queryParams]="{by:'release'}" [fragment]="''+(release | date:'yyyy')" *ngFor="let release of listOfDates">{{ release | date:'yyyy'}}</a>
	</div>
</ng-container>

<h2>{{ browseHeading }}</h2>

<div *ngIf="sortType == 'name' ">

	<table #listTable class="table table-striped border mt-1">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Title</th>
				<th scope="col">Platform</th>
				<th scope="col">Genre</th>
				<th scope="col">Release Date</th>
				<th scope="col">Price</th>
			</tr>
		</thead>
		<tbody>
			
			<tr *ngFor="let game of listOfGames" [hidden]="filterTitles(game.title.charAt(0))" >
				<td><img style="width:100px" [src]="boxArt(game)"/></td>
				<td>{{game.title}}</td> 
				<td>{{game.platform}}</td>
				<td>{{game.genre}}</td>
				<td>{{game.release | date:'yyyy' }}</td>
				<td>${{game.price}}</td>
				
				<ng-container *ngIf="isInStock(game) == true">				
					<ng-container *ngIf="!cartContainsGame(game)">
						<td><button (click)="addToCart(game)" >Add to Cart</button></td>
					</ng-container>
				</ng-container>
				
				<ng-container *ngIf="isInStock(game) == false">
					<td class="alwaysShow">
						<p style="color:red;">Out of Stock!</p>
					</td>
				</ng-container>
				
				<ng-container *ngIf="cartContainsGame(game)">
					<td class="alwaysShow">
						<button (click)="removeFromCart(game)" >Remove from Cart</button>
					</td>
				</ng-container>
				
			</tr>
		</tbody>
	</table>
</div>

<div *ngIf="sortType == 'platform' ">

	<table #listTable class="table table-striped border mt-1">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Title</th>
				<th scope="col">Platform</th>
				<th scope="col">Genre</th>
				<th scope="col">Release Date</th>
				<th scope="col">Price</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let game of listOfGames" [hidden]="filterTitles(game.platform)">
				<td><img style="width:100px" [src]="boxArt(game)"/></td>
				<td>{{game.title}}</td> 
				<td>{{game.platform}}</td>
				<td>{{game.genre}}</td>
				<td>{{game.release | date:'yyyy' }}</td>
				<td>${{game.price}}</td>
				
				<ng-container *ngIf="isInStock(game) == true">				
					<ng-container *ngIf="!cartContainsGame(game)">
						<td><button (click)="addToCart(game)" >Add to Cart</button></td>
					</ng-container>
				</ng-container>
				
				<ng-container *ngIf="isInStock(game) == false">
					<td class="alwaysShow">
						<p style="color:red;">Out of Stock!</p>
					</td>
				</ng-container>
				
				<ng-container *ngIf="cartContainsGame(game)">
					<td class="alwaysShow">
						<button (click)="removeFromCart(game)" >Remove from Cart</button>
					</td>
				</ng-container>
			</tr>
		</tbody>
	</table>
</div>

<div *ngIf="sortType == 'genre' ">

	<table #listTable class="table table-striped border mt-1">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Title</th>
				<th scope="col">Platform</th>
				<th scope="col">Genre</th>
				<th scope="col">Release Date</th>
				<th scope="col">Price</th>
				
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let game of listOfGames" [hidden]="filterTitles(game.genre)">
				<td><img style="width:100px" [src]="boxArt(game)"/></td>
				<td>{{game.title}}</td>
				<td>{{game.platform}}</td>
				<td>{{game.genre}}</td>
				<td>{{game.release | date:'yyyy' }}</td>
				<td>${{game.price}}</td>
				
				<ng-container *ngIf="isInStock(game) == true">				
					<ng-container *ngIf="!cartContainsGame(game)">
						<td><button (click)="addToCart(game)" >Add to Cart</button></td>
					</ng-container>
				</ng-container>
				
				<ng-container *ngIf="isInStock(game) == false">
					<td class="alwaysShow">
						<p style="color:red;">Out of Stock!</p>
					</td>
				</ng-container>
				
				<ng-container *ngIf="cartContainsGame(game)">
					<td class="alwaysShow">
						<button (click)="removeFromCart(game)" >Remove from Cart</button>
					</td>
				</ng-container>
			</tr>
		</tbody>
	</table>
</div>

<div *ngIf="sortType == 'release' ">

	<table #listTable class="table table-striped border mt-1">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Title</th>
				<th scope="col">Platform</th>
				<th scope="col">Genre</th>
				<th scope="col">Release Date</th>
				<th scope="col">Price</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let game of listOfGames" [hidden]="filterTitles(game.release)">
				<td><img style="width:100px" [src]="boxArt(game)"/></td>
				<td>{{game.title}}</td> 
				<td>{{game.platform}}</td>
				<td>{{game.genre}}</td>
				<td>{{game.release | date:'yyyy' }}</td>
				<td>${{game.price}}</td>
				
				<ng-container *ngIf="isInStock(game) == true">				
					<ng-container *ngIf="!cartContainsGame(game)">
						<td><button (click)="addToCart(game)" >Add to Cart</button></td>
					</ng-container>
				</ng-container>
				
				<ng-container *ngIf="isInStock(game) == false">
					<td class="alwaysShow">
						<p style="color:red;">Out of Stock!</p>
					</td>
				</ng-container>
				
				<ng-container *ngIf="cartContainsGame(game)">
					<td class="alwaysShow">
						<button (click)="removeFromCart(game)" >Remove from Cart</button>
					</td>
				</ng-container>
			</tr>
		</tbody>
	</table>
</div>

<div *ngIf="sortType == 'search' ">

	<table #listTable class="table table-striped border mt-1">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Title</th>
				<th scope="col">Platform</th>
				<th scope="col">Genre</th>
				<th scope="col">Release Date</th>
				<th scope="col">Price</th>
			</tr>
		</thead>
		<tbody>
			
			<tr *ngFor="let game of listOfGames" [hidden]="!searchTitles(game)" >
				<td><img style="width:100px" [src]="boxArt(game)"/></td>
				<td>{{game.title}}</td> 
				<td>{{game.platform}}</td>
				<td>{{game.genre}}</td>
				<td>{{game.release | date:'yyyy' }}</td>
				<td>${{game.price}}</td>
				
				<ng-container *ngIf="isInStock(game) == true">				
					<ng-container *ngIf="!cartContainsGame(game)">
						<td><button (click)="addToCart(game)" >Add to Cart</button></td>
					</ng-container>
				</ng-container>
				
				<ng-container *ngIf="isInStock(game) == false">
					<td class="alwaysShow">
						<p style="color:red;">Out of Stock!</p>
					</td>
				</ng-container>
				
				<ng-container *ngIf="cartContainsGame(game)">
					<td class="alwaysShow">
						<button (click)="removeFromCart(game)" >Remove from Cart</button>
					</td>
				</ng-container>
				
			</tr>
		</tbody>
	</table>
</div>