<div class="project_header">
	<div id="logo">
		<a href="" [routerLink]="['./']" ><img [src]="logoSrc" width="200px" /></a>
		<span>Buy Old Games</span>
	</div>
	
	<div id="cart">
		<a [routerLink]="['./cart']">View Cart ({{ itemsInCart }})</a>
	</div>
</div>

<div id="header_links">
	<span>Browse by: </span>
	<a href="" [routerLink]="['./browse']" [queryParams]="{by:'name'}" >Name</a><span> / </span>
	<a href="" [routerLink]="['./browse']" [queryParams]="{by:'platform'}" >Platform</a><span> / </span>
	<a href="" [routerLink]="['./browse']" [queryParams]="{by:'genre'}" >Genre</a><span> / </span>
	<a href="" [routerLink]="['./browse']" [queryParams]="{by:'release'}" >Release Date</a>
	
</div>

<div id="searchbox">
	<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <input name="searchstring" type="text" ngModel required #searchstring="ngModel">
      <button>Search</button>
    </form>
</div>

<div style="width:100%; clear:both;overflow:auto;">
	<router-outlet></router-outlet>
</div>