
.project_header #logo {
	float: left;
}

.project_header img {
	float: left;
	width: 75px;
	margin-right: 10px;
}

.project_header #logo span {
	font-size: 18px;
	font-weight: bold;
	width: 40px;
	display: inline-block;
}

.project_header #cart {
	float: right;
	margin-left: 15px;
}

#cart a {
	margin-right: 15px;
	text-decoration: none;
}

#header_links {
	float: left;
	margin-left: 45px;
}

#searchbox {
	float: right;
	margin-left: 25px;
}

#welcome {
	position: relative;
	top: 40px;
	display: inline-block;
}

#welcome img {
	width: 50%;
}