<h1>This project is still under development!</h1>

<div *ngIf="project == 'project2'">
	<h2>Watch this space for a Trivia/Quiz app. Possible features include:</h2>
	<ul>
		<li>Ability to create and take quizzes</li>
		<li>Support for multiple-choice and true/false questions</li>
		<li>Leaderboards containing the highest scores</li>
	</ul>

</div>

<div *ngIf="project == 'project3'">
	<h2>Watch this space for a version of Sudoku. Possible features include:</h2>
	<ul>
		<li>Infinite number of puzzles generated randomly</li>
		<li>Easy, Medium, and Hard difficulties</li>
		<li>Ability to check entries for accuracy automatically or on demand</li>
		<li>Ability to add notes</li>
	</ul>

</div>

<div *ngIf="project == 'project4'">
	<h2>Watch this space for a 3D Lightsaber building app. Possible features include:</h2>
	<ul>
		<li>Choose from a variety of lightsaber types, styles, materials and colors</li>
		<li>Freely rotate a 3D model representing your selected options</li>
		<li>Take control of the lightsaber and watch it react to your mouse movements</li>
		<li>Mini-game where you can practice deflecting blaster shots</li>
	</ul>

</div>